.seller-section {
  text-align: center;

  .title-wrapper {
    width: 40%;
    margin: 0 auto;
  }

  .users-wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
  }
}
